# Dependencies
node_modules/

# Test coverage
coverage

# Logs
npm-debug.log*
yarn-error.log

# Editors and IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store

.env
